/* LAYOUT */
body {
  max-width: 55ch;
  padding: 0.5ch;
  margin: 0 auto;
}
header, nav, #content, footer {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 1ch;
  padding-right: 1ch;
}
#content {
  border: 1px solid;
  border-radius: 3px;
  line-height: 165%;
}
nav {
  font-size: 1.1em;
  word-spacing: 1.2ch;
}
a {
  word-wrap: break-word;
}
table a {
  /* word-wrap: break-word does not work in tables since they overflow instead */
  word-break: break-word;
}
table {
  border-spacing: 0;
}
th, td {
  padding: 0;
  padding-right: 1ch;
  vertical-align: top;
  text-align: left;
}
th:last-child, td:last-child {
  padding-right: 0;
}
td.post_date {
  font-variant-numeric: tabular-nums;
  white-space: nowrap;
}
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
}
h1, h2, h3, h4, h5, h6, p, ul, li, table {
  margin-top: 0.33em;
}
#content > :first-child {
  margin-top: 0.5rem;
}
#content > :last-child {
  margin-bottom: 0.5rem;
}
#me {
  float: right;
  margin-top: 0.325em;
  margin-left: 2ch;
  margin-bottom: 0.5ch;
  border: 1px solid;
  width: 45%;
  height: auto;
}

/* STYLE */
* {
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  font-weight: 400;
}
body {
  background-color: #eee8d5;
  color: #456;
}
#content {
  background: #fdf6e3;
}
a, nav a:visited {
  color: #28d;
}
a:visited {
  color: #34a;
}
h1 {
  font-size: x-large;
  font-weight: 500;
}
h2 {
  font-size: large;
  font-weight: 500;
}
h3 {
  font-size: medium;
  font-weight: 500;
}
h4 {
  font-size: medium;
  font-weight: 400;
  font-style: italic;
}
h5 {
  font-size: smaller;
  font-weight: 500;
}
h6 {
  font-size: smaller;
  font-weight: 400;
  font-style: italic;
}
ul {
  list-style-type: none;
  padding: 0;
  margin-left: 2.5ch;
}
li:before {
  content: "–";
  position: absolute;
  left: -2.5ch;
}
li {
  position: relative;
}

/* MEDIA QUERIES */
@media only print {
  body, #content {
    background-color: white;
    border: none;
  }
  nav {
    display: none;
  }
  #me {
    border: none;
  }
}
