<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% feed_meta %}
    <link rel="stylesheet" href="/css.css">
    {% seo %}
  </head>
  <body>
    <header><h1>Anders Erik Vilhelm Lundstedt</h1></header>
    <nav>
      {% include nav_link.liquid url="/" text="Home" %}
      {% include nav_link.liquid url="/teaching/" text="Teaching" %}
      {% include nav_link.liquid url="/research/" text="Research" %}
      {% include nav_link.liquid url="/blog/" text="Blog" %}
    </nav>
    <div id="content">
      {{ content }}
    </div>
<!--
    <footer>
      Last modified:
    </footer>
-->
  </body>
</html>
