<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% comment %}
    {% feed_meta %}
    {% endcomment %}
    <link rel="stylesheet" href="/css.css">
    <title>
      Anders Lundstedt
      {% if page.title %}
          - {{ page.title }}
      {% endif %}
    </title>
  </head>
  <body>
    <header><h1>Anders Lundstedt</h1></header>
    <nav>
      <a href="/">Home</a>
      <a href="/teaching/">Teaching</a>
      <a href="/research/">Research</a>
      <a href="/blog/">Blog</a>
    </nav>
    <div id="content">
      {{ content }}
    </div>
    <footer>
      {{ "TODO: last modified" | log_warning }}
    </footer>
  </body>
</html>
